<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Dynamic Table</title>

    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>

    <div th:include="common :: commonheader"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common :: #leftmenu"></div>
    <!-- header section start-->
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <div th:replace="common :: #headermenu"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Dynamic Table
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li>
                <li class="active"> Dynamic Table</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Dynamic Table
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>AGE</th>
                                        <th class="hidden-phone">EMAIL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--<tr class="userinfo1" th:each="user,start:${users}">
                                        <td th:text="${start.count}">id</td>
                                        <td th:text="${user.getName()}">name</td>
                                        <td th:text="${user.getEmail()}">email</td>
                                        <td th:text="${user.getAge()}">age</td>
                                    </tr>-->
                                    <tr class="userinfo1" th:each="user,start:${page.records}">
                                        <td th:text="${start.count}">id</td>
                                        <td th:text="${user.getName()}">name</td>
                                        <td th:text="${user.getEmail()}">email</td>
                                        <td th:text="${user.getAge()}">age</td>
                                        <td>
                                            <a th:href="@{/user/delete/{id}(id=${user.id},pn=${page.current})}" class="btn btn-info" type="button">DELETE</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>AGE</th>
                                        <th class="hidden-phone">EMAIL</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <!--分页条代码-->
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="dataTables_info" id="dynamic-table_info">
                                            当前第[[${page.current}]]页 共[[${page.pages}]]页 共[[${page.total}]]条记录
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="dataTables_paginate paging_bootstrap pagination">
                                            <ul>
                                                <!--分页逻辑 基于thymeleaf-->
                                                <li class="prev disabled"><a href="#">← Previous</a></li>
                                                <li th:class="${num == page.current?'active':''}" th:each="num: ${#numbers.sequence(1,page.pages)}">
                                                    <a th:href="@{/dynamic_table(pn=${num})}">[[${num}]]</a></li>
                                                <li class="next disabled"><a href="#">Next → </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            DataTables hidden row details example
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered" id="hidden-table-info">
                                    <thead>
                                    <!--通过thymeleaf语法对数据库进行展示,session域提供共享对象-->
                                    <tr>
                                        <th>ID</th>
                                        <th>username</th>
                                        <th>e_mail</th>
                                        <th>age</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="userinfo" th:each="user,start:${users}">
                                        <td th:text="${start.count}">id</td>
                                        <td th:text="${user.getName()}">name</td>
                                        <td th:text="${user.getEmail()}">email</td>
                                        <td th:text="${user.getAge()}">age</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<div th:include="common :: commonscript"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<!--js分页-->
<!--<script src="js/dynamic_table_init.js"></script>-->


</body>
</html>